# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Java
*.class

# NodeJS
node_modules/

# Atom
.ropeproject/

# Misc. log files
*.log

# Modpack Installer files
.modcache/
.packs/
global/
packs/

# Modpack zip files
*.zip
*.jar

# Launcher files
GPUCache/
user-preferences.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
